<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>编辑文件 - {{ filename }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<div class="container mt-4">
    <h2>编辑文件: {{ filename }}</h2>
    <form method="post">
        <textarea name="content" class="form-control" rows="30">{{ content }}</textarea>
        <button type="submit" class="btn btn-primary mt-2">保存</button>
        <button  class="btn btn-secondary mt-2" onclick="window.close();">取消</button>
    </form>
</div>
</body>
</html>

