<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenIPC SBC Configurator</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    <div class="container mt-4">
        <!-- 导航栏 -->
        <ul class="nav nav-tabs sticky-top" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="button-tab" data-bs-toggle="tab" data-bs-target="#button" type="button" role="tab" aria-controls="button" aria-selected="false">WEB 按钮</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="gsconfig-tab" data-bs-toggle="tab" data-bs-target="#gsconfig" type="button" role="tab" aria-controls="button" aria-selected="false">GS 配置</button>
            </li>
            <li class="nav-item dropdown" role="presentation">
                <a class="nav-link dropdown-toggle" href="#" id="droneconfig-tab" role="button" data-bs-toggle="dropdown" aria-expanded="false">Drone 配置</a>
                <ul class="dropdown-menu" aria-labelledby="drone-config-tab">
                    <li><a class="dropdown-item" href="#drone-config-wfb" data-bs-toggle="tab">wfb</a></li>
                    <li><a class="dropdown-item" href="#drone-config-majestic" data-bs-toggle="tab">majestic</a></li>
                </ul>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="videomg-tab" data-bs-toggle="tab" data-bs-target="#videomg" type="button" role="tab" aria-controls="videomg" aria-selected="true">DVR 管理</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="fileedit-tab" data-bs-toggle="tab" data-bs-target="#fileedit" type="button" role="tab" aria-controls="fileedit" aria-selected="true">配置编辑器</button>
            </li>
            <li class="nav-item dropdown" role="presentation"> <!-- 添加 dropdown 类 -->
                <a class="nav-link dropdown-toggle" href="#" id="gsconfig-tab" role="button" data-bs-toggle="dropdown" aria-expanded="false">常用工具</a>
                <ul class="dropdown-menu" aria-labelledby="gsconfig-tab">
                    <li><a class="dropdown-item" id="web-ssh" href="http://{{ server_ip }}:81" target="_blank" role="tab" aria-controls="SSH" aria-selected="false">SSH</a></li>
                    <li><a class="dropdown-item" id="web-plotter" href="http://{{ server_ip }}:82" target="_blank" role="tab" aria-controls="plotter" aria-selected="false">plotter</a></li>
                    <li><a class="dropdown-item" href="#wfb-key-config" data-bs-toggle="tab">Key 管理</a></li>
                    <li><a class="dropdown-item" href="#wifi-acs" data-bs-toggle="tab">ACS</a></li>
                    <li><a class="dropdown-item" id="filemanager" href="/filemanager/" target="_blank" role="tab" aria-controls="SSH" aria-selected="false">文件管理</a></li>
                    <li><a class="dropdown-item" href="#systeminfo" data-bs-toggle="tab">系统信息</a></li>
                    <li><a class="dropdown-item" href="#about" data-bs-toggle="tab">关于</a></li>
                </ul>
            </li>
        </ul>

        <!-- 标签页内容 -->
        <div class="tab-content" id="myTabContent">
            <!-- WEB 按钮 -->
            <div class="tab-pane fade show active" id="button" role="tabpanel" aria-labelledby="button-tab">
                {% for side in button_enabled %}
                    <h3 class="mt-3 d-flex justify-content-center align-items-center bg-primary text-white p-1 rounded-2">{{ side }} 按钮</h3>
                    <!-- 使用 Bootstrap 的栅格系统，将按钮分为几行，并设置每行的间距 -->
                    <div class="row g-3">
                        <!-- 根据配置文件自动生成按钮 -->
                        {% for function, value in button_enabled[side].items() %}
                        <div class="col-12 col-md-4">
                            <button class="btn btn-{{ value.color }} w-100" id="{{ side }}_btn_{{ function }}">{{ function }}</button>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>


            <!-- GS 配置 -->
            <div class="tab-pane fade" id="gsconfig" role="tabpanel" aria-labelledby="gsconfig-tab">
                <h3 class="mt-3 d-flex justify-content-center align-items-center bg-primary text-white p-1 rounded-2">GS 配置</h3>
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <!-- 按钮组 -->
                    <div>
                        <button class="btn btn-secondary" id="reload-button-gs">读取配置</button>
                        <button class="btn btn-success" id="save-button-gs">保存配置</button>
                    </div>
                </div>
                <div class="mt-3" id="save-result-gs"></div>
                <div id="gs-config-container" class="mt-4 bg-light rounded-3">
                    <!-- YAML 内容将在此加载 -->
                </div>
            </div>

            <!-- Drone wfb 配置 -->
            <div class="tab-pane fade" id="drone-config-wfb" role="tabpanel" aria-labelledby="drone-config-wfb-tab">
                <h3 class="mt-3 d-flex justify-content-center align-items-center bg-primary text-white p-1 rounded-2">Drone wfb 配置</h3>
                <div class="d-flex justify-content-center align-items-center mt-3 sticky-top">
                    <!-- 按钮组 -->
                    <div>
                        <button class="btn btn-secondary" id="reload-button-drone-wfb">读取配置</button>
                        <button class="btn btn-warning" id="save-button-drone-wfb">保存配置</button>
                        <button class="btn btn-danger" id="apply-button-drone-wfb">保存并应用配置</button>
                    </div>
                </div>
                <div class="mt-3" id="save-result-drone-wfb"></div>
                <div id="drone-config-container-wfb" class="mt-4 bg-light rounded-3">
                    <!-- YAML 内容将在此加载 -->
                </div>
            </div>

            <!-- Drone majestic 配置 -->
            <div class="tab-pane fade" id="drone-config-majestic" role="tabpanel" aria-labelledby="drone-config-majestic-tab">
                <h3 class="mt-3 d-flex justify-content-center align-items-center bg-primary text-white p-1 rounded-2">Drone majestic 配置</h3>
                <div class="d-flex justify-content-center align-items-center mt-3 sticky-top">
                    <!-- 按钮组 -->
                    <div>
                        <button class="btn btn-secondary" id="reload-button-drone-majestic">读取配置</button>
                        <button class="btn btn-warning" id="save-button-drone-majestic">保存配置</button>
                        <button class="btn btn-danger" id="apply-button-drone-majestic">保存并应用配置</button>
                    </div>
                </div>
                <div class="mt-3" id="save-result-drone-majestic"></div>
                <div id="drone-config-container-majestic" class="mt-4 bg-light rounded-3">
                    <!-- YAML 内容将在此加载 -->
                </div>
            </div>

            <!-- DVR 管理 -->
            <div class="tab-pane fade" id="videomg" role="tabpanel" aria-labelledby="videomg-tab">
                <h3 id="refreshDvrFiles" class="mt-3 d-flex justify-content-center align-items-center bg-primary text-white p-1 rounded-2">DVR 管理（点击刷新）</h3>
                <div class="container mt-4">
                    <!-- 文件列表 -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>文件名</th>
                                <th>大小</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="fileList"></tbody>
                    </table>
                </div>

                <!-- 模态框 -->
                <div class="modal fade" id="previewModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">文件预览</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body text-center">
                                <img id="previewImage" src="" class="img-fluid d-none">
                                <video id="previewVideo" controls class="w-100 d-none">
                                    <source id="previewVideoSource" src="">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 文件编辑器 -->
            <div class="tab-pane fade" id="fileedit" role="tabpanel" aria-labelledby="fileedit-tab">
                <h3 class="mt-3 d-flex justify-content-center align-items-center bg-primary text-white p-1 rounded-2">文件编辑器</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>文件名</th>
                            <th>文件类型</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for config_file in gs_config_files_path %}
                        <tr>
                            <td>
                                📄 {{ config_file }}
                            </td>
                            <td>配置文件</td>
                            <td>
                                <a href="/download_config/{{ config_file }}" class="btn btn-sm btn-success">下载</a>
                                <button type="button" class="btn btn-sm btn-danger" onclick="editFile('{{ config_file }}')">编辑</button>
                                <button type="button" class="btn btn-sm btn-warning" onclick="backupFile('{{ config_file }}')">备份</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- <textarea class="form-control" rows="10" placeholder="在此输入文本..."></textarea>
                <button class="btn btn-primary mt-3">保存文件</button> -->
            </div>
            <!-- 文件编辑模态框 -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 80%; width: auto;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">编辑文件</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <textarea id="fileContent" class="form-control" rows="20"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="saveFileBtn">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- wfb key 配置 -->
            <div class="tab-pane fade" id="wfb-key-config" role="tabpanel" aria-labelledby="wfb-key-config-tab">
                <h3 class="mt-3 d-flex justify-content-center align-items-center bg-primary text-white p-1 rounded-2">wfb key 配置</h3>
                <div class="mt-1 d-flex justify-content-center align-items-center bg-success text-white p-1 rounded-2">
                    Default Key Is: u7ftboOkaoqbihKg+Y7OK9yXhwW4IEcBsghfooyse0YOBcSKYZX7cJIcdHpm6DwC5kC9a761slFTepiidBaiYw==
                </div>
                <div class="mt-3" id="save-result-wfb-key"></div>
                <div id="wfb-key-config-container" class="mt-4 bg-light rounded-3">
                    <!-- Key 内容将在此加载 -->
                </div>
            </div>

            <!-- wifi ACS -->
            <div class="tab-pane fade" id="wifi-acs" role="tabpanel" aria-labelledby="wifi-acs-tab">
                <h3 id="refreshAcsInfo" class="mt-3 d-flex justify-content-center align-items-center bg-primary text-white p-1 rounded-2">WiFi Automatic Channel Selection（点击刷新）</h3>
                <!-- TODO: 显示当前信道 -->
                <div id="available-acs-nics-container" ><!-- 显示可用网卡 --></div>
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <div id="wifi-acs-container">
                        <!-- ACS 内容将在此加载 -->
                    </div>
                </div>
            </div>

            <!-- 系统信息 -->
            <div class="tab-pane fade" id="systeminfo" role="tabpanel" aria-labelledby="systeminfo-tab">
                <h3 id="refreshSystemInfo" class="mt-3 d-flex justify-content-center align-items-center bg-primary text-white p-1 rounded-2">系统信息（点击刷新）</h3>
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <div id="systemInfoText">
                        <!-- 系统信息内容将在此加载 -->
                    </div>
                </div>
            </div>

            <!-- 关于 -->
            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <h3 class="mt-3 d-flex justify-content-center align-items-center bg-primary text-white p-1 rounded-2">关于</h3>
                <div class="d-flex justify-content-center align-items-center mt-3">
                    SBC Ground Station CC Edition WebUI.
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/configurator.js') }}"></script>
</body>

</html>